<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<connectionStrings>
	<add name="ConString" connectionString="Server=localhost;Database=thesku;user=root;Password=aliraxa229;Port=3307;" />
</connectionStrings>
  <startup>
    
  </startup>
  <appSettings>
    <add key="TelerikWinFormsThemeName" value="Fluent" />
  </appSettings>
</configuration>